.env
.venv/
config.yaml
.coverage
*.jaon
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# generated state and outputs
data/
out/

# Local user config
.local/
.config/
.profile
.bash_history
.bashrc
.zshrc
